.header {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 3.3rem 1.5rem 0.9rem;

  *:focus {
    outline: 1px solid #202020;
  }
}

.name {
  flex-grow: 1;
  text-align: center;
}

.filter {
  cursor: pointer;
  padding: 0.5rem;
}
