.data {
  background: no-repeat left 50%;
  border-top: solid 0.5px #eee;
  display: block;
  font-style: normal;
  padding: 1.3rem 2.5rem 1.4rem;

  &:nth-child(2) {
    border-top-width: 0;
  }

  *:focus {
    outline: 1px solid #202020;
  }
}

.address {
  background-image: url("/assets/icons/pin.svg");
}

.openHours {
  background-image: url("/assets/icons/clock.svg");
}

.phone {
  background-image: url("/assets/icons/phone.svg");
}

.website {
  background-image: url("/assets/icons/globe.svg");

  a:hover {
    border-bottom: 1px solid #b69f58;
  }
}
