.rating {
  display: flex;
}

.star {
  align-self: center;
  margin-left: 0.5rem;

  div {
    display: inline;
  }

  &:first-child {
    margin-left: 0;
  }
}

.small {
  svg {
    width: 0.9rem;
    height: 0.9rem;
  }
}

.empty {
  path {
    fill: transparent;
  }
}

.opinions {
  align-self: center;
  margin-left: 1rem;
}
